body {
  font-family: 'Open Sans', sans-serif;
}

ul li {
  list-style: none;
}

.fa-solid,
.button-clear {
  cursor: pointer;
}

button,
input {
  border: transparent;
  outline: transparent;
}

section {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: flex-start;
  margin: 60px 30px;
  border: solid 1px #8f8f8f;
}

section .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8f8f8f;
  width: 100%;
}

.task-title {
  font-size: 16px;
  margin-left: 20px;
  font-weight: normal;
  padding: 5px 0;
}

.fa-rotate,
.fa-ellipsis-vertical,
.fa-circle-down,
.fa-trash-can {
  margin-right: 20px;
  color: #8f8f8f;
  font-size: 20px;
}

section .add-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8f8f8f;
  width: 100%;
  margin-bottom: -15px;
}

.add-task {
  background-color: transparent;
  font-size: 18px;
  padding: 15px 20px;
  width: 80%;
}

::placeholder {
  color: #8f8f8f;
  font-style: italic;
}

.fa-ellipsis-vertical,
.fa-trash-can {
  margin-right: 30px;
}

section .task-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#task-container {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  background-color: #fff;
}

.task-item-container,
.task-item-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #8f8f8f;
}

.task-content-1 {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none;
}

.hide1 {
  display: none;
}

.hide2 {
  display: flex;
}

.task-item {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  padding: 15px 0;
}

.line-through {
  text-decoration: line-through;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.button-clear {
  font-size: 16px;
  background-color: transparent;
}

.UpdateLabel {
  display: none;
  width: 90%;
  height: 100%;
}
